/* 
@media (min-width:880px){
  #page{
    width: 880px;
  }  
}
@media (min-width:1080px){
  #page{
    width: 1080px;
  }  
}  
@media (min-width:1280px){
  #page{
    width: 1280px;
  }  
}  
@media (min-width:1680px){
  #page{
    width: 1680px;
  }  
}  

@media only screen and (min-device-width:768px) and (min-width:768px){
  #page{}  
}  
 */
#page-wrapper,
body,
html{
  padding: 0px;
  margin: 0px;
/*   min-height: 100% !important; */
  height: 100% ;
  min-height: 100% ;
  
}
#content,
#sidebar-first,
#sidebar-second {
  float: left;
  display: inline;
  position: relative;
}

#page{
  width: 880px;
  margin: 0 auto;
/*   max-width: 98%; */
  
}

#page >.col_2_wrap{
  padding-left: 25px
}
.view-frontpage.view-display-id-page h2,
.view-frontpage.view-display-id-page .views-field{
  padding: 10px 20px 0;
}

#content {
  width: 100%;
}
body.sidebar-first #content {
  width: 80%;
  left: 20%; /* LTR */
}
body.sidebar-second #content {
  width: 80%;
}
body.two-sidebars #content {
  width: 60%;
  left: 20%;
}

#sidebar-first {
  width: 20%;
  left: -80%; /* LTR */
}

body.two-sidebars #sidebar-first {
  left: -60%; /* LTR */
}

#sidebar-second {
  float: right; /* LTR */
  width: 20%;
}
/* 
.section:not(:first-child) {
  margin: 10px;
}
 */