h2{
font-family: Arial;
color: #000;
font-size: 1.6em;
font-weight: 400;
line-height: 1.25em;
text-align: left;
  letter-spacing: .04em;
  word-spacing: 0em;
  
}
body{
/* Inline Style */
  font-family: Arial;
  color:#000000;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.714;
  
}
.view-front-page-teaser .views-field-body {
  letter-spacing: 0.03em;
  line-height: 1.875em;
  font-size: 1.5em;
  text-align: justify;
}
a{
  text-decoration: none;
  color: #e20303;
}

/* typo -- END*/

/* footer blocks */
.region-footer {
  min-height:50px;
}
.region-footer .block{
  display: inline-block;
  float: right;
  margin-right:20px;
  
}
.region-footer .block:last-child{
 float: left;
  display: block;
margin-left:20px;
}
#block-block-5 p{
  text-align: right ;
  
}
/* SOCIAL LINKS BLOCK - block-block-4 */ 

.region-top #block-block-4{
  position: absolute;  
  top:56px;
  left: 30px
}
.region-top{
  position: relative;  
}
.region-top:hover #block-block-4 .contextual-links-wrapper >.contextual-links-trigger {
  position: relative;
  z-index: 9999;
  display: block ;
  
}

#block-webform-client-block-11{
display:none;
}

/* CONTACT*/
.sprite-contact.views-row {
 border-bottom: 1px dashed #000;
background-image: url("images/contact_bg.png");
background-position: 0px 220px;
background-repeat: no-repeat;
min-height: 1006px !important;
width: 880px;
padding: 0px !important;
}
.sprite-contact > .{
  padding-left:100px
}
.sprite-contact.views-row >.views-field-webform-form-body{
  width: 470px;
  margin-top: 95px;
  margin-left: 235px;
}
/* .form-item, .form-actions{
  margin: 0px auto 10px;
} */
.sprite-contact.views-row select{
   appearance :none;
  -moz-appearance:none;
  -webkit-appearance:none;
   width : 412px;
  border : 1px solid black;
}
.sprite-contact.views-row  textarea,
.sprite-contact.views-row select,
.sprite-contact.views-row input{
font-size: 1.8em !important;
/*   font-size: 28px !important; */
  
/* padding:0em .5em .1em !important;; */
}
.sprite-contact.views-row  textarea{
  padding: .5em .3em;
  font-size: 2.2em !important;
  height:8em;
}
.sprite-contact.views-row select:focus option:first-child{
  display: none;
}
.sprite-contact.views-row select{
  text-indent: -2.8px;
}
.sprite-contact .grippie{
  display: none;
}
::-webkit-input-placeholder {
   color: black;
  opacity: 1;
  text-transform: capitalize;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
  opacity: 1;
  text-transform: capitalize;
}

::-moz-placeholder {  /* Firefox 19+ */
/*    color: #000000; */
  opacity: 1;
  text-transform: capitalize;
}

:-ms-input-placeholder {  
    color: black;
  opacity: 1;
  text-transform: capitalize;
}
.sprite-contact.views-row >.views-field-webform-form-body select,
.sprite-contact.views-row >.views-field-webform-form-body textarea,
.sprite-contact.views-row >.views-field-webform-form-body input{
  padding: 2px 10px 1px ;
  width: 100%;
  border: 0px solid white;
  background-color: transparent;
}

.mailinglist{
  font-family: HelveticaNeue;
color: #ffffff;
font-size: 1.575em; /* Approximation due to font substitution */
font-weight: 400;
text-align: left;
text-shadow: 1px 2px 2.19px  black;
 width:auto !important;; 
  padding-left: 56px;
  padding-top: 15px;
  vertical-align: middle;
  display: table-cell;
}
.sprite-contact.views-row >.views-field-webform-form-body .webform-component-select,
.sprite-contact.views-row >.views-field-webform-form-body .webform-component-textfield,
.sprite-contact.views-row >.views-field-webform-form-body .webform-component-email,
.sprite-contact.views-row >.views-field-webform-form-body .webform-component-textarea,
.sprite-contact.views-row >.views-field-webform-form-body .webform-component-textfield{
  border: 1.5px solid black;
  border-radius: 4px;
  color: black;
  background-color: rgba(255,255,255,.8);
}
.sprite-contact.views-row >.views-field-webform-form-body .webform-component-select,
.sprite-contact.views-row >.views-field-webform-form-body .webform-component-textfield,
.sprite-contact.views-row >.views-field-webform-form-body .webform-component-email{
  width : 400px ;
}

.required{
  background-image: url('images/sprites.png') ;
  background-position:367px -1780px;
  background-repeat: no-repeat;
  display: block;
}
.required.form-select{
  background-image: url('images/sprites.png'), url('images/sprites.png') ;
  background-position:367px -1780px, 352px -1738px;
  
  
}
.sprite-contact.views-row >.views-field-webform-form-body .webform-component-textarea{
  width : 465px;
  height : 180px;
}
.sprite-contact textarea{
  max-width:100%;
}

.sprite-contact.views-row > h2,
.sprite-contact.views-row > .views-field-body,
.sprite-contact.views-row >.views-field-webform-form-body{
  position:relative;
  z-index:1;
}
.sprite-contact.views-row >.menu_wrap >.menu{
  filter: invert(20%);
}
.sprite-contact.views-row > .views-field-body {
padding: 3% 20px;
  font-size : 1.125em;
  color: white;
}
.sprite-contact.views-row > .views-field-body *{
  
  position: relative;
  z-index: 1; 
  

}
.sprite-contact.views-row > .views-field-body:before{
  height: 100% ;
  width: 880px;
    content:".";
  display: block;
  position: absolute;
  top:0px;
  left: -0px;
  z-index: 0;
  background-color: black;
  background-image: url(images/send.png);
  background-repeat: no-repeat;
  background-position: right+45px center;
/*   padding: 50px 0; */
}
.sprite-contact .webform-component{
  position: relative;
 
}
.sprite-contact .form-actions{
  text-align: right;
}
.sprite-contact .webform-submit:hover{
  background-position: 0 -1373px;
}
.sprite-contact .webform-submit{
  background: url('images/sprites.png') no-repeat top left; 
   background-position: 0 -1314px;
  width: 137px !important;;
  height: 49px; 
  text-indent: -9999px;
}
.sprite-contact .webform-submit:hover{
/* .sprite.submit_on { background-position: 0 -1373px; width: 137px; height: 49px; }    */
}
.sprite-contact .webform-component-markup .mailinglist{
  background-color : white;
  border-radius : 50%;
border: 2px solid black;  
  height:35px !important;
  display: block;
  float: left;
}
.label{
  display:block !important;
}
.sprite-contact .mailinglist_wrap{
  font-family: HelveticaNeue;
color: #ffffff;
font-size: 1.375em; /* Approximation due to font substitution */
font-weight: 400;
text-align: left;
text-shadow: 1px 2px 1px rgba(0, 0, 0, 1);
  line-height: 50px;
  text-indent:  10px;
  float: left;
  min-width: 260px
}
/* CONTACT   -- END*/


body.html:not(.cke_show_borders){

  background-color: #322c2c;
}
.view-front-page-teaser .views-field-body{
  font-size: .9em;
font-weight: 400;
letter-spacing: 0.03em;
line-height: 1.3em;
}
tbody{
  border-top:0px solid white;
}
img{
  max-width : 100%;
}
.views-row h2{
  margin-top: 0px;
padding-top: 15px;
}
h2{
color:#000000;
}
#page{
  background-color: white;
}
#header{
  box-shadow: 0px -6px 20px 12px #000;
/*   box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75); */
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  
}
.col_2_wrap{
  position: relative;
  z-index: 0;
}
.scroll_to_top {
    position: absolute;
    right: 0px;
    bottom: 10px;
    background: red;
}
#header .menu{
  text-align: right;
}
#header .menu_wrap{
/* #block-block-3{ */
  box-shadow: 0px -3px 30px 10px black;
  position: relative;
  z-index: 8;
}

#logos{
  position: relative;
z-index: 9;
background-color: #FFF;
display: inline-block;
width: 100%;
}

#right > .section,
#left > .section{
/*   padding: 0 25px; */
}
#left,
#right{
  display: inline-block;
  vertical-align: top;
}
#left{
width: 48.7%;
  padding-right: 2%;
  border-right: 1px solid #959aa1;
  
}
#right{
width: 46%;
  padding-left: 0.7%;
}

.col_2_wrap{
  padding-top: 0.833em;
  background: white;
  box-shadow: 1px 1px 1px 1px gray;
}
#logos #asian img{
  max-width  : 420px;
  height: auto;
}
#logos >div {
  display: inline-block;
}
#logos #huji,
#logos #haifa{
  margin-left: 25px;
  float: right;
}
#header .menu .contact_top{
  position: relative;
  top: -10px;
  vertical-align: top;
}
#logos #haifa{
  margin-top: 4px
}
#block-block-3 img{
/*   min-width: 880px; */
  width: 100%;
  display: block;
}
#block-block-3 p:last-child{
  margin: 0px;
}
.block > h2:first-child{
  margin-top: 0px;
  margin-bottom: 0px
}
.block  p:first-of-type{
  margin-top: 0px;
}
.col_2{
  
}
/* sprite.ong defs... */
.view-frontpage.view-display-id-page .views-row{
  position: relative;
}

/* .view-frontpage.view-display-id-page .menu_wrap{
  
} */
.view-frontpage.view-display-id-page .menu_wrap{
  position: absolute;
  right: 20px;
  overflow: hidden;
/*   display: inline-block; */
}
.view-frontpage.view-display-id-page .menu_wrap>.menu .label{
  display: none !important;;
}
.view-frontpage.view-display-id-page .menu{
  transition-duration: 1s;
  background-color: black;
  position: relative;
  border-radius: 0 0  5px 5px; 
  box-shadow: 0px 1px 6px 0px black;
/*   width: 100%; */
/*   display: inline-block; */
/*   height: 20px; */
  top: -40px;
  padding: 10px 10px 0px ;
}

.view-frontpage.view-display-id-page .views-row:hover .menu{
  top: -0px;
}
.view-frontpage.view-display-id-page .views-field{
/* background: white; */
/*   position: relative; */
/*   z-index: 1; */
}
.view-frontpage.view-display-id-page .views-row{
/*   box-shadow: inset 0px  9px  5px -5px  black; */
  min-height: 85px;
  padding-bottom: 30px;
}
.view-frontpage.view-display-id-page .views-row{
  border-top:  1px dashed black;
  box-shadow: inset 0px  9px  5px -5px  gray;
  
}
.view-frontpage.view-display-id-page .views-field-title{
  display: inline-block;

}
.view-frontpage.view-display-id-page .label{ 
display: none;
}

.sprite_wrap { 
  display: inline-block;
  text-align: center;
}
#header .sprite_wrap { 
  margin: 0  15px;
}
#header .menu .label{ 
  position: relative;
  top : -10px;
}

.region-top .menu_wrap{
  text-align: right;
  box-shadow: 0px 1px 1px 1px black;
padding-top: 20px 
}
.menu_wrap{
  z-index: 9;
}
.sprite { 
  background: url('images/sprites.png') no-repeat top left; 
  width: 47px; 
  height: 47px;
  display: inline-block;
} 
.sprite.about { background-position: 0 0; width: 56px; height: 54px; } 
.sprite.about_on { background-position: 0 -64px; width: 56px; height: 54px; } 
.sprite.about_top { background-position: 0 -128px; } 
.sprite.about_top_on { background-position: 0 -186px; } 
.sprite.bullet { background-position: 0 -244px; width: 18px; height: 18px; } 
.sprite.contact { background-position: 0 -272px; width: 56px; height: 54px; } 
.sprite.contact_on { background-position: 0 -336px; width: 56px; height: 54px; } 
.sprite.contact_top { background-position: 0 -400px; } 
.sprite.facebook { background-position: 0 -458px; width: 31px; height: 34px; } 
.sprite.contact_top_on { background-position: 0 -502px; } 
.sprite.googlep { background-position: 0 -560px; width: 31px; height: 34px; } 
.sprite.ip_on { background-position: 0 -604px; width: 54px; } 
.sprite.mailinglist_top { background-position: 0 -662px; } 
.sprite.mailinglist { background-position: 0 -662px; } 
.sprite.mailinglist_top_on { background-position: 0 -720px; } 
.sprite.morinfo { background-position: 0 -778px; width: 60px; height: 38px; } 
.sprite.Requirements_top { background-position: 0 -826px; } 
.sprite.Requirements { background-position: 0 -884px; width: 56px; height: 54px; } 
.sprite.Requirements_on { background-position: 0 -948px; width: 56px; height: 54px; } 
.sprite.Requirements_top_on { background-position: 0 -1012px; } 
.sprite.scholership_on { background-position: 0 -1070px; width: 56px; height: 54px; } 
.sprite.scholership_top { background-position: 0 -1134px; } 
.sprite.scholership { background-position: 0 -1192px; width: 56px; height: 54px; } 
.sprite.scholership_top_on { background-position: 0 -1256px; } 
.sprite.submit { background-position: 0 -1314px; width: 137px; height: 49px; } 
.sprite.submit_on { background-position: 0 -1373px; width: 137px; height: 49px; } 
.sprite.twit { background-position: 0 -1432px; width: 31px; height: 34px; } 
.sprite.send { background-position: 0 -1476px; width: 197px; height: 198px; } 
.sprite.up { background-position:0px -1686px; width: 54px; } 
.sprite.up:hover { background-position: 0 -604px; width: 54px; width: 54px; } 

p.sprite{
min-width:90%;
}


li.sprite.bullet {
    background-position: 0px -242px;
    width: 100%;
    min-height: 18px !important;;
   height: auto !important;;
}
/* .view-front-page-teaser */

.view-front-page-teaser tr{
  padding-bottom: 25px;
  display: inline-block;
}
.view-front-page-teaser  .views-field-created {
    font-weight: bold;
    text-align: center;
line-height: 1.6em;
    color: #FFF;
    word-spacing: 1000px;
  vertical-align: top;
  padding-right: .625em;
}
.view-front-page-teaser  .views-field-created .numbers,
.view-front-page-teaser  .views-field-created .text{
/*  font-family: OpenSansHebrew; */
color:#ffffff;
font-size: 1.125em;/* Approximation due to font substitution */
font-weight: 700;
text-align: center;
}
.view-front-page-teaser  .views-field-created .wrap  {
    text-align: center;
    border-radius: 50%;
    background: #1d212a none repeat scroll 0% 0%;
    height: 55px;
    min-width: 55px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.view-front-page-teaser  .views-field-created .wrap > div {
    overflow: hidden;
    position: relative;
}

/** MISC */
#page-wrapper{
position:relative;
  margin: 0 auto;
}
body.overlay #logos:before{
  display: block;
  float: left;
  content: ".XXXXXX";
  background: url('landingpagefinal.jpg');
  height: 10000px;
  width: 940px;
  position: absolute;
  top: 3px;
  left: -58px;
  z-index: 99999;
  opacity: .9;
}

.contextual-links-wrapper{
/*   right : 60px; */
  left:auto;
/*   top: auto; */
  top: 4px !important;;
  transform: scale(1.5) !important;
  transform-origin: center top;
  border-radius: 15px;
  background: darkred;
  box-shadow: 0px 4px 7px -3px black;

}
.block >.contextual-links-wrapper,
#main > #content >.contextual-links-region >.contextual-links-wrapper{
  background: darkred;
  left : -15px;
  top:10px;
  right: auto;
}

.view .contextual-links-wrapper{
  background:green ;
    box-shadow: 0px 4px 7px -3px black;
}
